h4{
	text-align: center;
	font-family: 'poppins',sans-serif;
	font-size: 20px;
	
}
.about p{
	text-align: justify;
	color: rgb(0, 176, 252);
	margin-left: 20%;
	margin-right: 20%;
}
.card-container{
	display: flex;
	justify-content: space-evenly;
}
.card-container .card p{
	color: rgb(159, 159, 159);
}
.card-container .card h3{
	font-family: 'Courier New', Courier, monospace;
}
.card{
	padding: 10px;
	background-color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}