.contact{
	display: flex;
	justify-content: space-evenly;
	padding:50px;
	background: #4b39d2;
	flex-direction: column;
	margin-top: 400px;
}
input{
	width: 200px;
	font-size: 20px;
	
}

button{
	width: 200px;
}
.contact p {
	font-size: 20px;
	text-align: center;
}